<a href="https://colab.research.google.com/github/umidyor/LCM_reduce.py/blob/main/r2_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#My_model_evaluation_journey_r2_score
![transformer.jpeg]()

In [23]:
# Required libraries
import pandas as pd
from io import StringIO 
from sklearn.metrics import r2_score


#In this project, comparing the first data set to the second data set about transformers!

In [54]:
a = "robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nda Vinci Surgical System,4377,47000,97969,37320\nKITT,90043,73282,18868,45540\nThe Tachikomas,2114,68111,75162,36340\nToyota violin-playing,63730,85704,78717,57020\nGERTY,81519,26677,65519,43420\nMega Man,22714,9740,73137,26380\nRock \u2018Em Sock \u2018Em Robots,87886,67925,58101,53460\nDoraemon,16788,85783,86233,47200\nAwesom-O,7448,54163,33401,23740\nHK-47,46131,58449,92296,49200\nED-209,77228,10734,54945,35720\nBeer-Fetching Robot,59627,81878,23861,41340\nBishop,96414,66998,4115,41880\nThe Energizer Bunny,68804,14932,37880,30400\nH.E.L.P.eR.,78159,8060,63274,37360\nClank,11578,84323,86292,45540\n"
data_1 = pd.read_csv(StringIO(a)) #-> Converting data loaded into a variable about Transformers to a DataFrame!
data_1

,robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body
0,da Vinci Surgical System,4377,47000,97969,37320
1,KITT,90043,73282,18868,45540
2,The Tachikomas,2114,68111,75162,36340
3,Toyota violin-playing,63730,85704,78717,57020
4,GERTY,81519,26677,65519,43420
5,Mega Man,22714,9740,73137,26380
6,Rock ‘Em Sock ‘Em Robots,87886,67925,58101,53460
7,Doraemon,16788,85783,86233,47200
8,Awesom-O,7448,54163,33401,23740
9,HK-47,46131,58449,92296,49200
10,ED-209,77228,10734,54945,35720
11,Beer-Fetching Robot,59627,81878,23861,41340
12,Bishop,96414,66998,4115,41880
13,The Energizer Bunny,68804,14932,37880,30400
14,H.E.L.P.eR.,78159,8060,63274,37360
15,Clank,11578,84323,86292,45540

In [55]:
b = "robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nClank,43973,25595,58504,32000\nDaft Punk,96371,61676,31481,47380\nJohnny 5,66511,38385,47953,38200\nThe Robot,58752,89090,51497,49820\nMr. Roboto,94246,12826,74877,45480\nMarvin the Paranoid Android,53874,16704,21492,23000\nLego Mindstorms NXT,483,48426,29257,19540\nRobbie,22657,2013,75082,24920\nAstro Boy,34499,33062,86296,38460\nThe Iron Giant,57496,90149,29823,44360\nOptimus Prime,13205,4869,76120,23540\nRoomba,22875,32377,76437,32920\nDJ Roomba,68704,8287,77907,38720\nCindi Mayweather,17676,41995,68166,31940\nMark Z,85325,88067,64264,59400\nRosie,83044,74974,41489,49860\nCrow T. Robot/Tom Servo,96983,26930,21595,36360\nK-9,35898,69605,83592,47260\nThe Terminator,65268,47748,50964,40980\nThe Maschinenmensch,10278,91180,46682,37020\nASIMO,4955,37023,59065,25260\nGLaDOS,59036,20960,26556,26620\nThe Final Five,83686,46654,71010,50320\nSojourner,56273,199,31862,22080\nData,86581,27309,21246,33780\nR2D2,45064,59797,37373,35540\nBender Bending Rodriguez,61198,51705,13208,31520\nWall-E,66709,19032,72116,39460"
data_2 = pd.read_csv(StringIO(b)) #->Converting data loaded into a variable about Transformers to a DataFrame!
data_2

,robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body
0,Clank,43973,25595,58504,32000
1,Daft Punk,96371,61676,31481,47380
2,Johnny 5,66511,38385,47953,38200
3,The Robot,58752,89090,51497,49820
4,Mr. Roboto,94246,12826,74877,45480
5,Marvin the Paranoid Android,53874,16704,21492,23000
6,Lego Mindstorms NXT,483,48426,29257,19540
7,Robbie,22657,2013,75082,24920
8,Astro Boy,34499,33062,86296,38460
9,The Iron Giant,57496,90149,29823,44360
10,Optimus Prime,13205,4869,76120,23540
11,Roomba,22875,32377,76437,32920
12,DJ Roomba,68704,8287,77907,38720
13,Cindi Mayweather,17676,41995,68166,31940
14,Mark Z,85325,88067,64264,59400
15,Rosie,83044,74974,41489,49860
16,Crow T. Robot/Tom Servo,96983,26930,21595,36360
17,K-9,35898,69605,83592,47260
18,The Terminator,65268,47748,50964,40980
19,The Maschinenmensch,10278,91180,46682,37020
20,ASIMO,4955,37023,59065,25260
21,GLaDOS,59036,20960,26556,26620
22,The Final Five,83686,46654,71010,50320
23,Sojourner,56273,199,31862,22080
24,Data,86581,27309,21246,33780
25,R2D2,45064,59797,37373,35540
26,Bender Bending Rodriguez,61198,51705,13208,31520
27,Wall-E,66709,19032,72116,39460

In [56]:
d_1 = data_1.iloc[:,1:] #-> Get only digital columns?!
d_2 = data_2.iloc[0:len(d_1),1:] #'len(data_1)', Make the number of columns of the second dataset equal to the first data. The reason is that r2_score cannot compare the data if the size is not the same.

In [57]:
d_1

    nbr_pieces_head  nbr_pieces_arms  nbr_pieces_legs  nbr_pieces_body
0              4377            47000            97969            37320
1             90043            73282            18868            45540
2              2114            68111            75162            36340
3             63730            85704            78717            57020
4             81519            26677            65519            43420
5             22714             9740            73137            26380
6             87886            67925            58101            53460
7             16788            85783            86233            47200
8              7448            54163            33401            23740
9             46131            58449            92296            49200
10            77228            10734            54945            35720
11            59627            81878            23861            41340
12            96414            66998             4115            41880
13            68804            14932            37880            30400
14            78159             8060            63274            37360
15            11578            84323            86292            45540

In [58]:
d_2

    nbr_pieces_head  nbr_pieces_arms  nbr_pieces_legs  nbr_pieces_body
0             43973            25595            58504            32000
1             96371            61676            31481            47380
2             66511            38385            47953            38200
3             58752            89090            51497            49820
4             94246            12826            74877            45480
5             53874            16704            21492            23000
6               483            48426            29257            19540
7             22657             2013            75082            24920
8             34499            33062            86296            38460
9             57496            90149            29823            44360
10            13205             4869            76120            23540
11            22875            32377            76437            32920
12            68704             8287            77907            38720
13            17676            41995            68166            31940
14            85325            88067            64264            59400
15            83044            74974            41489            49860

In [60]:
r2_score(d_1,d_2) #RESULT

-0.9353238675863571